<template>
  <q-page class="flex flex-center">
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="contact-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec" />
              <h1>招募志工</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div id="map">
              <img
                src="@statics/images/volunteer.jpg"
                width="100%"
                height="500px"
                frameborder="0"
                style="border:0"
                allowfullscreen
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <input
                      v-model="name"
                      name="name"
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Your name..."
                      required=""
                    >
                  </div>
                  <div class="col-md-6">
                    <input
                      v-model="date"
                      name="date"
                      type="text"
                      class="form-control"
                      id="date"
                      placeholder="Apply date (ex:2019/02/01)..."
                      required=""
                    >
                  </div>
                  <div class="col-md-12">
                    <input
                      v-model="email"
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Your email..."
                      required=""
                    >
                  </div>
                  <div class="col-md-12">
                    <textarea
                      v-model="message"
                      name="message"
                      rows="6"
                      class="form-control"
                      id="message"
                      placeholder="Your message..."
                      required=""
                    />
                  </div>
                  <div class="col-md-12">
                    <button
                      class="button"
                      @click="submit()"
                    >
                      Send Message
                    </button>
                  </div>
                  <div class="col-md-12">
                    <div class="share">
                      <h6>You can also keep in touch on: <span><a href="https://www.facebook.com/groups/1610335769109696"><i class="fa fa-facebook" /></a></span></h6>
                    </div>
                  </div>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
  </q-page>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Volunteer',
  data () {
    return {
      date: '',
      name: '',
      email: '',
      message: ''
    }
  },
  methods: {
    async submit () {
      await this.$store.dispatch('volunteer/submit', {
        email: this.email,
        date: moment(this.date).format(),
        name: this.name,
        message: this.message

      })

      this.$router.push('/')
    }
  }
}
</script>
