<template>
  <q-page class="row justify-center items-center">
    <div />
  </q-page>
</template>
<script>
export default {

}
export {}
</script>
<style lang="scss">
.card-bordered {
  border-color: $primary;
  border-style: solid;
}

</style>
