<template>
  <q-page class="q-pb-sm">
    <!-- Single Starts Here -->
    <div
      class="single-product"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec" />
              <h1>領養區</h1>
            </div>
          </div>
          <div class="col-md-6">
            <q-carousel
              swipeable
              animated
              v-model="slide"
              thumbnails
              infinite
            >
              <q-carousel-slide
                v-for="(item,index) in animal.animal.imageUrl"
                :key="item"
                :name="index+1"
                :img-src="item"
              />
            </q-carousel>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{ animal.animal.name }}</h4>
              <p>{{ animal.animal.description }}</p>
              <span>{{ $t(`animals.status.${animal.animal.status}`) }}</span>
              <div class="down-content">
                <div class="categories">
                  <h6>Category: <span>{{ $t(`animals.type.${animal.animal.type}`) }}</span></h6>
                </div>
                <div class="share">
                  <h6>Share: <span><a href="https://www.facebook.com/groups/1610335769109696"><i class="fa fa-facebook" /></a></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->
  </q-page>
</template>
<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState([
      'animal'
    ])
  },
  name: 'Animal',
  async preFetch ({ store, currentRoute }) {
    await store.dispatch('animal/getAnimal', { id: currentRoute.params.id })
  },
  data () {
    return {
      slide: 1
    }
  }
}
</script>
