<template>
  <q-page>
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec" />
              <h1>領養區</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured container no-gutter">
      <div class="row posts">
        <div
          class="item new col-md-4"
          v-for="item in animal.animalList"
          :key="item.name"
          @click="$router.push({ name: 'animalDetail', params: { id: item.id } })"
        >
          <a>
            <div class="featured-item">
              <img
                :src="item.imageUrl"
                alt=""
              >
              <h4>{{ item.name }}</h4>
              <h6>{{ $t(`animals.status.${item.status}`) }}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Featred Page Ends Here -->
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState([
      'animal'
    ])
  },
  name: 'Animals',
  async preFetch ({ store, currentRoute }) {
    if (process.env.CLIENT) {
      return
    }
    await store.dispatch('animal/getAnimalList')
  },
  async created () {
    if (process.env.SERVER) {
      return
    }
    if (!this.isPreFetch) {
      await this.$store.dispatch(
        'animal/getAnimalList'

      )
    }
  }

}
</script>
<style lang="scss" scoped>

</style>
