<template>
  <q-page>
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12" />
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <div>
      <swiper
        class="swiper"
        :options="swiperOption"
      >
        <swiper-slide
          v-for="item in animal.animalList"
          :key="item.name"
        >
          <div>
            <img
              :src="item.imageUrl"
              alt="premium-themes-templates"
              ref="mySwiper"
              @click="$router.push({ name: 'animalDetail', params: { id: item.id } })"
            >
          </div>
        </swiper-slide>

        <div
          class="swiper-pagination"
          slot="pagination"
        />
      </swiper>
    </div>
    <!-- Featred Ends Here -->
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
export default {
  computed: {
    ...mapState([
      'animal'
    ]),
    swiper () {
      return this.$refs.mySwiper.$swiper
    }
  },
  name: 'PageIndex',
  components: {
    Swiper,
    SwiperSlide
  },

  data () {
    return {
      swiperOption: {
        slidesPerView: 5,
        spaceBetween: 40,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          1500: {
            slidesPerView: 4,
            spaceBetween: 40
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 40
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 30
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      }
    }
  },
  async preFetch ({ store, currentRoute }) {
    if (process.env.CLIENT) {
      return
    }
    await store.dispatch('animal/getAnimalList')
  },
  async created () {
    if (process.env.SERVER) {
      return
    }
    if (!this.isPreFetch) {
      await this.$store.dispatch(
        'animal/getAnimalList'

      )
    }
  }

}
</script>
<style lang="scss" scoped>

.swiper {
  height: 350px;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: white;
  }
  .swiper-slide img {
    height: 300px;
    width: 400px;
  }
}
</style>
