<template>
  <q-layout>
    <q-header>
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark static-top"
      >
        <div class="container">
          <a
            class="navbar-brand"
          >
            <img
              src="~assets/dog-logo-black.png"
              alt=""
            >
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
            @click="drawerFlag = !drawerFlag"
          >
            <span class="navbar-toggler-icon" />
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarResponsive"
          >
            <ul
              class="navbar-nav ml-auto"
              v-for="item in menuList"
              :key="item.name"
            >
              <li
                class="nav-item "
                :class="{active:$route.name===item.name}"
              >
                <a
                  class="nav-link"
                  @click="$router.push({ path: item.path })"
                >
                  <q-icon name="pets" />{{ $t(item.title) }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img
                src="~assets/dog-logo-white.png"
                alt=""
              >
            </div>
            <div class="col-md-12">
              <div class="social-icons" />
              Copyright © 2021 LINDOGGY ALL Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </q-footer>
    <q-drawer
      v-model="drawerFlag"
      bordered
    >
      <q-list>
        <q-item
          v-for="item in menuList"
          :key="item.title"
          v-bind="item"
          clickable
          :to="item.path"
        >
          <q-item-section
            avatar
          >
            <q-icon name="pets" />
          </q-item-section>
          <q-item-section>
            <q-item-label> {{ $t(item.title) }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',
  methods: {

  },
  data () {
    // todo:combine with toolbar btn list
    return {
      drawerFlag: false,
      menuList: [
        {
          name: 'home',
          title: 'layout.menuList.home',
          icon: '',
          path: '/'
        },
        {
          name: 'aboutUs',
          title: 'layout.menuList.aboutUs',
          icon: '',
          path: '/aboutUs'
        },
        {
          name: 'animals',
          title: 'layout.menuList.animals',
          icon: '',
          path: '/animals'
        },
        {
          name: 'volunteer',
          title: 'layout.menuList.volunteer',
          icon: '',
          path: '/volunteer'
        }
      ]
    }
  }
}
</script>
