<template>
  <q-page class="flex flex-center">
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec" />
              <h1>關於我們</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img
                src="@statics/images/about-us.jpg"
                alt=""
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <p>台中林媽媽流浪狗之家位於台中烏日區成功火車站附近距離約三分鐘車程，搭建在王田交流道下大肚區與烏日區的交界處農地，從原本單純的動物救援到現在和先生義無反顧的收容流浪狗，扛下承租大片土地的貸款，為的只是單純心疼和盡心盡力的想給毛孩們一個安定被保護的避風港！從救援、照護到送養，林媽媽從不怕苦，只要看到毛孩健康幸福開心的表情就都值得了！</p>
              <br>
              <p>狗園非常歡迎大家前來參觀，可到現場和毛孩們互動、參與打掃義工以及領養，但為了防止愛媽或義工們剛好出門辦事或帶毛孩子去看醫生，讓大家大老遠跑來卻撲了空，請於參觀前24小時和狗園志工，也就是社團管理員們先行網路預約，請不要自己忽然跑來，讓我們可以排除萬難好好接待您！</p>
              <br>
              <p>若有看到投緣的孩子，領養人條件必須年滿18歲和基礎經濟能力，領養程序會經過林媽媽和狗園志工們完成審查，並實行定期家庭訪問以確保狗狗都在舒適和快樂的環境下生活，更多詳細資訊也都歡迎詢問！如果您也願意盡一份心力和慷慨，讓我們有更多能力照顧孩子們！</p>
              <br>
              <h4>捐贈物資代收地址為：(500)彰化縣彰化市一心南街210巷1號</h4>
              <p>林媽媽和狗園全體志工感謝您的愛心</p>
              <div class="share">
                <h6>Find us on: <span><a href="https://www.facebook.com/groups/1610335769109696"><i class="fa fa-facebook" /></a></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
  </q-page>
</template>

<script>
export default {
  name: 'AboutUs'
}
</script>
